; IT8888F Configuration File - SCSI Host Adapter
[INFO]
NAME=SCSI
DESCRIPTION=SCSI Host Adapter

[IO_SPACES]
IO0=0xE4000330
; 0x330-0x33F: Primary SCSI controller I/O range (16 bytes, fast access)
; Used for: SCSI command/status registers, data FIFO, control registers

IO1=0xE4000140
; 0x140-0x14F: Secondary/alternative SCSI I/O range (16 bytes, fast access)
; Some SCSI cards use multiple I/O regions for different functions

IO2=0x00000000
IO3=0x00000000
IO4=0x00000000
IO5=0x00000000

[MEMORY_SPACES]
MEM0=0x00000000
MEM1=0x00000000
MEM2=0x00000000
MEM3=0x00000000
; Most ISA SCSI adapters use I/O ports only

[DMA]
DMA0=0x00000000
DMA1=0x00000000

DMA2=0x80000005
; DMA channel 5: SCSI data transfers (16-bit channel for better performance)
; Used for reading/writing data to SCSI devices

DMA3=0x00000000

[CONTROL]
MISC_CONTROL=0x8C000003
; MISC_CONTROL=0x8C000002 (Positive Decode)
; Standard settings optimized for storage device access

ISA_CONTROL=0x00000000